<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net461" />
  <package id="CrossPlatformAdapter" version="1.0.13-pre1" targetFramework="net461" />
  <package id="CrossPlatformLibrary" version="3.0.1" targetFramework="net461" />
  <package id="CrossPlatformLibrary.Geolocation" version="2.0.0-pre9" targetFramework="net461" />
  <package id="FireSharp" version="1.1.0" targetFramework="net461" />
  <package id="FireSharp.Serialization.JsonNet" version="1.1.0" targetFramework="net461" />
  <package id="GMap.Net" version="1.0.1" targetFramework="net461" />
  <package id="GMap.NET.WindowsForms" version="1.7.5" targetFramework="net461" />
  <package id="Guards" version="1.0.15" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="RestSharp" version="104.4.0" targetFramework="net461" />
  <package id="Tracing" version="1.0.3-pre5" targetFramework="net461" />
</packages>